body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-family: Roboto , sans-serif;
  margin: 5px;
}

header {
  background-color: royalblue;
  height: 100px;
  width: 100%;
}

h1 {
  color: whitesmoke;
  font-family: Viga , sans-serif;
  font-size: 35px;
  text-align: center;
}

a {
  color: rgb(0, 39, 156);
  font-weight: 500;
  text-decoration: none;
}

button {
  background-color: rgb(228, 225, 225);
  border-radius: 10px;
  height: 30px;
  margin: 5px;
  width: 120px;
}

.add-button {
  height: 40px;
  width: 120px;
}

input, textarea, select {
  margin: 10px;
}
