body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

/* Movie List */
.movieList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.addMovie {
  background-color: brown;
  color: white;
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 25px auto 5px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  width: 30%;
}

.addMovie:hover {
  filter: brightness(1.2);
  transform: scale(1.07);
}

/* Movie Card */
.movieCard {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  margin: 20px;
  transition: 0.3s;
  width: 28%;
}

.movieCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.cardHead {
  position: relative;
}

.cardHead img {
  border-radius: 5px;
  max-height: 160px;
  width: 100%;
}

.cardHead h1 {
  color: white;
  margin-left: 5px;
  position: absolute;
  top: 100px;
}

.cardStoryline {
  font-size: 0.9rem;
  height: 70px;
  padding: 5px;
}

.cardDetails {
  color: brown;
  display: block;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  width: 40%;
}

.cardDetails:hover {
  background-color: brown;
  color: white;
  filter: brightness(0.8);
}

/* Movie Details */
.movieDetail {
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 50%;
}

.movieDetail img {
  width: 100%;
}

.detailcontent {
  padding: 10px 20px;
}

.detailcontentActions {
  display: flex;
  margin-bottom: 10px;
}

.button {
  color: brown;
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  width: 40%;
}

.button:hover {
  background-color: brown;
  color: white;
  filter: brightness(0.8);
  text-decoration: none;
}

/* Edit Movie e New Movie */
.editMovie, .newMovieForm {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 40px;
  width: 50%;
}

/* Movie Form */
.labelForm {
  margin-top: 30px;
}

.validate {
  border-width: 0 0 1px;
  font-size: 0.9rem;
  margin-bottom: 20px;
  padding: 7px;
  width: 100%;
}

.validate:focus {
  border-color: brown;
  border-width: 0 0 3px;
  margin-top: 8px;
  outline: 0;
  transition: 0.5s;
}

.textareaEdit {
  border-width: 0 0 1px;
  font-size: 0.9rem;
  margin-bottom: 20px;
  padding: 7px;
  width: max(100%, 400px);
}

.textareaEdit:focus {
  border-color: brown;
  border-width: 0 0 3px;
  margin-top: 8px;
  outline: 0;
  transition: 0.5s;
}

.submitButton {
  border-color: brown;
  color: brown;
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 25px auto 5px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 40%;
}

.submitButton:hover {
  background-color: brown;
  color: white;
  filter: brightness(0.8);
  text-decoration: none;
}
